@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Black.woff) format("woff"),
        url(/fonts/TransformaSans-Black.woff2) format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Bold.woff) format("woff"),
        url(/fonts/TransformaSans-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Medium.woff) format("woff"),
        url(/fonts/TransformaSans-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Regular.woff) format("woff"),
        url(/fonts/TransformaSans-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Light.woff) format("woff"),
        url(/fonts/TransformaSans-Light.woff2) format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: TransformaSans;
    src: 
        url(/fonts/TransformaSans-Thin.woff) format("woff"),
        url(/fonts/TransformaSans-Thin.woff2) format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: TransformaScript;
    src: 
        url(/fonts/TransformaScript-ExtraLight.woff) format("woff"),
        url(/fonts/TransformaScript-ExtraLight.woff2) format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: TransformaScript;
    src: 
        url(/fonts/TransformaScript-Light.woff) format("woff"),
        url(/fonts/TransformaScript-Light.woff2) format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: TransformaScript;
    src: 
        url(/fonts/TransformaScript-Regular.woff) format("woff"),
        url(/fonts/TransformaScript-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: TransformaScript;
    src: 
        url(/fonts/TransformaScript-Medium.woff) format("woff"),
        url(/fonts/TransformaScript-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: TransformaScript;
    src: 
        url(/fonts/TransformaScript-SemiBold.woff) format("woff"),
        url(/fonts/TransformaScript-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

